
.formulario {
        min-width: 600px;
        margin-top: 50px;
        padding: 20px;
    }

.formulario h1 {
	display: block;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 15px;
    margin-top: 40px;
	color: #1f1f1f;
}

.formulario input{
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 13px;
    margin-bottom: 5px;
    margin-top: 4px;
}

.formulario button[type="submit"] {
	display: block;
	background: #0084ffdc;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}