* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}

.card {
	padding: 2em;
  }
  
  .read-the-docs {
	color: #888;
  }
  
  .dark-theme {
	background-color: #000000 !important;
	color: white;
  }
  
  .light-theme {
	background: white;
	color: black;
  }