.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #f4eff7;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  }

.navigation ul li {
    list-style: none;
}

.brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
  }

.navigation-menu {
    margin-left: auto;
  }

.red-letter {
    color: red;
  }

.link-item {
    margin-right: 2rem;
  }